In [1]:
import pandas as pd

In [14]:
# Creating basic series objects
pd.Series([80, 29, 50])
# Adding keys(Index)
x = pd.Series([80, 29, 50], ['Vee', 'Sil', 'Me'])
# Check if you can perform CRUD operations
#Creating a new row
x['Sam'] = 90
x
# Retrieving data
# x.Vee
# Retrieving row data
x.loc['Me']
# Retrieving data based on index location
x.iloc[3]
# Updating row data
# x.Me = 87
x.loc['Me'] = 70
x
# Executing an element-wise operations
x *= 5
x
x = x + [3, 8, 2, 9]
x
# Data cleaning by removing non-numbers
x = x.dropna(axis = 0) # axis0 means drops rows with none numbers
x

Vee    403
Sil    153
Me     352
Sam    459
dtype: int64

In [15]:
# Reading, Ingesting files from other sources
pd.read_csv('scores.csv')

      Name   Scores
0      Est       30
1      Uby       60
2      Ben       50
3  Mr. Sam       40

In [17]:
# Pandas DataFrame
#  Creating basic panda data frames
pd.DataFrame([
    {'Phy' : 80, 'Chm' : 45, 'Bio' : 60},
    {'Phy' : 80, 'Chm' : 47, 'Bio' : 83},
    {'Phy' : 71, 'Chem' : 80, 'Bio' : 71}
    ])

   Phy   Chm  Bio  Chem
0   80  45.0   60   NaN
1   80  47.0   83   NaN
2   71   NaN   71  80.0

In [47]:
# Rows and columns individually are very similar to a numpy array
x = pd.DataFrame([
    {'Phy' : 80, 'Chm' : 45, 'Bio' : 60},
    {'Phy' : 80, 'Chm' : 47, 'Bio' : 83},
    {'Phy' : 71, 'Chm' : 80, 'Bio' : 71}
    ], ['Sam', 'Pete', 'Est'])

# Performing CRUD operations on Dataframe objects.
#Creating Row data(index data)
x.loc['Uby'] = [10, 50, 40]
x
# Creating column data
x['Math'] = [40, 21, 70, 60]
x
# Retrieving Data(Row)
x.loc['Sam']
# Retrieving Column data
x['Phy']
#Retrieving mulitple columns
x[['Math', 'Chm']]
# Slicing rows
x.iloc[0 : 3]
# Slicing rows and Columns
x.iloc[0 : 3, 1 : 3]
# Updating and Creating columns from existing columns
x['Total'] = x['Phy'] + x['Chm'] + x['Math'] + x['Bio']
x
# Average
x['Average'] = x['Total']/(len(x.columns)-1)
x
# Updating row
x.loc['Sam', 'Phy'] = 90
x

      Phy  Chm  Bio  Math  Total  Average
Sam    90   45   60    40    225    56.25
Pete   80   47   83    21    231    57.75
Est    71   80   71    70    292    73.00
Uby    10   50   40    60    160    40.00

In [34]:
x.columns

Index(['Phy', 'Chm', 'Bio', 'Math', 'Total'], dtype='object')

In [46]:
# Pandas Functions
# Desciption
x.describe()
# a particular column
x.iloc[1:2, 1 : 3].describe()
#
x.loc['Sam'].mean()

86.04166666666667